.menuItem {
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  & > a {
    cursor: pointer;
  }
}

.activeItem {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

@media (min-width: 650px) {
  .menuItemList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .menuItem {
    margin-bottom: 0;
  }
}
